body {
  background-color: whitesmoke;
}
header {
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin: 10px;
}
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
article > div {
  width: 200px;
  height: 300px;
  margin: 10px;
  border: 7px solid white;
  font-size: 15px;
}

.First > div:nth-child(1) {
  background-color: tomato;
}
.First > div:nth-child(2) {
  background-color: teal;
}
.second > div:nth-child(1) {
  background-color: burlywood;
}
.second > div:nth-child(2) {
  background-color: thistle;
}

.color {
  background-color: white;
  position: relative;
  top: 10px;
  padding: 10px;
}
.name {
  font-size: 16px;
  font-weight: bold;
}
.num {
  font-size: 12px;
}
